@font-face {
  font-family: "iconfont"; /* Project id 2082760 */
  src: url('iconfont.woff2?t=1651235307311') format('woff2'),
       url('iconfont.woff?t=1651235307311') format('woff'),
       url('iconfont.ttf?t=1651235307311') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caigou:before {
  content: "\e614";
}

.icon-tianxie:before {
  content: "\ec88";
}

.icon-source:before {
  content: "\e60e";
}

.icon-cheliang:before {
  content: "\e62b";
}

.icon-yundanguanli:before {
  content: "\e787";
}

.icon-zhediemianban:before {
  content: "\e64a";
}

.icon-weizhi:before {
  content: "\e613";
}

.icon-jian:before {
  content: "\e74b";
}

.icon-xinzeng:before {
  content: "\e629";
}

.icon-huozhuguanli:before {
  content: "\e60c";
}

.icon-sijiguanli:before {
  content: "\e676";
}

.icon-zhifu1:before {
  content: "\e8f9";
}

.icon-daifu:before {
  content: "\e63e";
}

.icon-zhifu2:before {
  content: "\e810";
}

.icon-gantanhao:before {
  content: "\e60b";
}

.icon-Warehousing_home:before {
  content: "\e604";
}

.icon-AgentPayment:before {
  content: "\e625";
}

.icon-ToBeReviewed:before {
  content: "\e64b";
}

.icon-ReviewReturn:before {
  content: "\e612";
}

.icon-tongji:before {
  content: "\e631";
}

.icon-cuowu:before {
  content: "\e611";
}

.icon-shenhe:before {
  content: "\e69e";
}

.icon-zhifu:before {
  content: "\e628";
}

.icon-jinri:before {
  content: "\e899";
}

.icon-xiaoshou:before {
  content: "\e623";
}

.icon-bangong1:before {
  content: "\e624";
}

.icon-photo:before {
  content: "\e61d";
}

.icon-iot:before {
  content: "\e731";
}

.icon-pingtai:before {
  content: "\e6c5";
}

.icon-xiangji:before {
  content: "\e66d";
}

.icon-lable_i:before {
  content: "\e603";
}

.icon-did:before {
  content: "\e65f";
}

.icon-crown:before {
  content: "\e601";
}

.icon-stars:before {
  content: "\e602";
}

.icon-anquan:before {
  content: "\e606";
}

.icon-clear_x:before {
  content: "\e898";
}

.icon-yj-b:before {
  content: "\e660";
}

.icon-yj-k:before {
  content: "\e672";
}

.icon-qw:before {
  content: "\e6d9";
}

.icon-logistics:before {
  content: "\e609";
}

.icon-maxScreen:before {
  content: "\e62a";
}

.icon-minScreen:before {
  content: "\e688";
}

.icon-next:before {
  content: "\e62d";
}

.icon-cangku2:before {
  content: "\e60a";
}

.icon-cangku:before {
  content: "\e61f";
}

.icon-app_admin:before {
  content: "\e64f";
}

.icon-enterprise_admin:before {
  content: "\e627";
}

.icon-design:before {
  content: "\e605";
}

.icon-func_admin:before {
  content: "\e691";
}

.icon-shouqi:before {
  content: "\e62f";
}

.icon-open:before {
  content: "\e633";
}

.icon-signOut:before {
  content: "\e620";
}

.icon-copyright:before {
  content: "\e666";
}

.icon-category:before {
  content: "\e600";
}

.icon-tixing:before {
  content: "\e60d";
}

.icon-proprietaryManagement:before {
  content: "\e66e";
}

.icon-financialStatistics:before {
  content: "\e665";
}

.icon-yue:before {
  content: "\e6c6";
}

.icon-shouru:before {
  content: "\e632";
}

.icon-zhichu:before {
  content: "\e608";
}

.icon-financialManagement:before {
  content: "\e622";
}

.icon-line:before {
  content: "\e949";
}

.icon-equipment:before {
  content: "\e630";
}

.icon-park:before {
  content: "\e734";
}

.icon-workshop:before {
  content: "\e607";
}

.icon-supplierlist:before {
  content: "\e647";
}

.icon-supplierapply:before {
  content: "\e675";
}

.icon-orders:before {
  content: "\e62e";
}

.icon-supplier:before {
  content: "\e65b";
}

.icon-warehousing:before {
  content: "\e656";
}

.icon-role:before {
  content: "\e678";
}

.icon-home:before {
  content: "\e61e";
}

.icon-cuo:before {
  content: "\e686";
}

.icon-shouji:before {
  content: "\e621";
}

.icon-hr:before {
  content: "\e63f";
}

.icon-yanzhengma:before {
  content: "\e667";
}

.icon-users:before {
  content: "\e7d8";
}

.icon-add:before {
  content: "\e60f";
}

.icon-dui:before {
  content: "\e610";
}

.icon-system:before {
  content: "\e864";
}

.icon-mima:before {
  content: "\e66c";
}

.icon-shangchuan:before {
  content: "\e626";
}

.icon-customer:before {
  content: "\e63d";
}

